.navbar a:hover {
    color: rgb(81, 81, 82) !important;
}
.navbar a:hover svg {
    fill: rgb(81, 81, 82);
}

.profile-image {
    width: 350px;       
    max-width: 80%;
    margin-top: 110px;       
}

@media (max-width: 576px) {
    .profile-image {
        width: 250px;
    }
}
.intro-text h1 {
    margin-top: 30px;
    font-size: 3rem;
    font-family: 'Poppins', sans-serif; 
    font-weight: 700;     
}

.intro-text p {
    font-size: 1.5rem;     
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: #868686;       
}

@media (max-width: 576px) {
    .intro-text h1 {
        font-size: 2rem;
    }

    .intro-text p {
        font-size: 1rem;
    }
}

.heading{
    font-size: 4rem;
    font-weight: 700;
    background: linear-gradient(90deg, #868686, #212121);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
hr{
    margin-top: 80px;
    margin-bottom: 80px;
}
.about-section {
    padding: 50px 20px;
}

.about-section h2 {
    background: linear-gradient(90deg, #606060, #212121);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2 rem;
    margin-bottom: 30px;
}

.about-content {
    max-width: 800px;
    color: #6f6d6d;
    margin-bottom: 40px; 
}
.about-image{
    width: 800px;
    object-fit: cover;
}
html {
    scroll-padding-top: 80px;
}

.skill-head{
    margin-top: 50px;
    margin-bottom: 50px;
}
.skill-box {
    background: #f0f0f0;
    text-align: center;
    padding: 8px;
    border-radius: 8px;
    font-weight: 500;
}
.skill-box:hover{
    background: #c7c6c6;
    cursor: pointer;
}
.button2{
    width: 100px;
    margin-bottom: 30px;
}
.ptitle{
    margin-top: 30px;
    margin-left: 25px;
}
@media (max-width: 576px) {
    .projects {
        width: 85%;
        margin: auto;
    }

    .projects img {
        height: auto;
        width: 100%;
    }
}